# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
target
**/target
backend-python/venv311
backend-python/.venv
backend-python/data/
backend-python/models/**/*.bin
backend-python/models/**/*.safetensors
backend-python/models/**/*.onnx
backend-python/models/**/*.pkl
*.duckdb
*.duckdb-wal
*.duckdb-shm
**/__pycache__
*.pyc
*.pyo
*.pyd
.lingma

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
